@charset="UTF-8";

.anchor {
  margin-top:-55px;
  padding-top: 55px; 
}


header.jumbotron {
  background: url("../images/top_01.jpg");
  background-position: center center;
  background-size: cover;
  color: #1f1f1f;
}

header .container {
  margin-top: 8%;

}

header h1 {
  font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  padding-bottom: 20px;
}

header .text{
  text-shadow: 1px 1px 2px #DDD,
              -1px 1px 2px #DDD,
               1px -1px 2px #DDD,
              -1px -1px 2px #DDD;
}

div.panel-body.well{
  margin-bottom: 0;
}

nav p{
  margin-bottom: 0;
}

.new-content .content-area {
  padding: 0 20px 15px 15px;
  
}

.new-content .content-area .panel-body {
  max-height: 310px;
  overflow-y: scroll;

}

.sidebar aside img{
   max-width: 80px;
   height: auto;
   margin: 5px;
}

.img-responsive {
  margin: 0 auto;
}

div#gallery{
  margin-bottom: 15px;
}

div#gallery .items_row {
  margin-bottom: 20px;
}

figure {
  position: relative;
  overflow: hidden;
}

figcaption {
  padding:5%;
  max-width: 400px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  margin:auto;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  color:#FFF;
}
figure:hover figcaption {
  opacity: 1;
}
figcaption p.title{
  text-align: center;
  font-size: 120%;
  font-weight: bold
}


#inquiry_info,
footer#company_info {
  padding-left: 0;
  padding-right: 0;
}

#items_info h2{
  margin:0;
  padding:10px 20px;
  font-size: 120%;
  font-weight: bold;
}

#inquiry_info h2,
footer#company_info h2 {
  background: #2c3e50;
  color: #FFFFFF;
  margin:0;
  padding:10px 20px;
  font-size: 120%;
  font-weight: bold;
}

form legend {
  display:none;
}

footer p {
  font-size: 110%;
}

